.container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    /* colum-gap:10px */
    /* justify-content: space-around, space-evenly, space-between; */
}

.red{
    background-color: red;

}

.green{
    background-color: green;

}

.blue{
    background-color: blue;

}

.yellow{
    background-color: yellow;
}

.container div{
    width: 200px;
    height: 200px;
}

.img1{
    width: 100vw;
    height: 800px;
}

.img2{
    width: 100vw;
    height: 800px;
}

.img3{
    width: 90vw;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

